<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12 p-0 mt-3 mb-3">
      {{#each model as |note|}}
        {{#if note.isPinned}}
          <div id="dumm"></div>
        {{/if}}
      {{/each}}
      <h3 id="pinned">Pinned</h3>
    </div>
    <div class="card-columns">
      {{#each model as |note|}}
        {{#if note.isPinned}}
          {{note-content model=note}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-0 mt-3 mb-3">
      <h3>Others</h3>
    </div>
    <div class="card-columns">
      {{#each model as |note|}}
        {{#unless note.isPinned}}
          {{note-content model=note}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>